<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../../public/css/styles.css">
        <meta charset="UTF-8">
        <title>Help</title>
    </head>
    <body>
        {{>header}}
    </body>
</html>
